<launch>
 <node pkg="p2os_driver" type="p2os_driver" name="p2os_driver" output="screen">
   <param name="port" value="/dev/ttyUSB0"/>
   <param name="baud" value="9600"/>
   <param name="use_sonar" value="false"/>
   <param name="use_gripper" value="false"/>
   <param name="use_ptz" value="false"/>
   <param name="publish_diagnostics" value="false"/>
   <param name="max_xspeed" value="0.5"/>
   <param name="max_yawspeed" value="0.8"/>
 </node>
   <!-- run the teleop node to send movement velocities to the pioneer -->
 <node pkg="p2os_teleop" type="p2os_teleop" name="p2os_teleop" >
   <remap from="/des_vel" to="/base_controller/command" />
   <param name="axis_vx" type="int" value="1" />
   <param name="axis_vw" type="int" value="2" />
   <param name="axis_vy" type="int" value="0" />
   <param name="deadman_button" type="int" value="5" />
   <param name="run_button" type="int" value="4" />
   <param name="max_vx" type="double" value="0.5"/>
   <param name="max_vw" type="double" value="0.5"/>
 </node>
<!-- run the listener node to send voice commands to the pioneer -->
 <node pkg="listener" type="listener" name="listener" >
   <remap from="/des_vel" to="/base_controller/command" />
   <param name="r_button" type="int" value="2" />
   <param name="b_button" type="int" value="0" />
   <param name="g_button" type="int" value="1" />
   <param name="y_button" type="int" value="3" />
   <param name="start_button" type="int" value="9" />
   <param name="back_button" type="int" value="8" />
   <param name="l_trigger" type="int" value="6" />
   <param name="r_trigger" type="int" value="7" />
 </node>
 <!-- run a joy node to control the pioneer -->
 <node pkg="joy" type="joy_node" name="pioneer_joy_controller" >
   <param name="dev" value="/dev/input/js0" />
 </node>
</launch>
